//Colors

$white: rgb(235, 235, 235);
$black: rgb(21, 23, 27);
$accent: rgb(243, 150, 44);
$grey: rgb(211, 210, 210);

//Font sizes

$xxx-large: 3rem;
$xx-large: 1.8rem;
$x-large: 1.4rem;
$large: 1.2rem;
$medium: 1rem;
$small: 0.7rem;



//Font Families

$poppins: 'Poppins',
sans-serif;
$monospace: 'Roboto Mono',
monospace;

//Font weights

$bold: 700;
$regular: 400;