.main__aside {
    
    position: relative;
    background: $white;
    padding: 4rem;
    
    h1 {
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 20px;
    }
     
    //on tablet and smaller will not display sidebar
    @media screen and (max-width:768px) {
        display: none;

    }
}

.main__aside-title{

    position: relative;
    width: max-content;
    max-width: 100%;


    &::after{
        content: '';
        position: absolute;
        height: 4px;
        left: 0;
        bottom: 0;
        width: 100%;
        background: $accent;
        
    }
}




.main__aside-heading {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.main__aside-tags {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;

    
    ul {
        position: relative;
        display: flex;
        
        justify-content: center;
        align-items: center;

        li {
            list-style: none;
            margin: 10px 10px;
            cursor: pointer;
        }
    }
}

.main__aside-highlights {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .main__aside-highlights__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        
        p{
            margin-top: 30px;
            margin-bottom: 0px;
        }

        img {
        width: 220px;
        height: 200px;
        margin: 10px;
        border-radius: 2rem;
        border: 2px solid transparent;
        background-clip: padding-box;
        box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.2);
        transition: transform 500ms ease;
        cursor: pointer;

            &:hover,
            &:focus-within {
            transform: scale(1.05);
            }
        
        }
    }
}